<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="./../css/index.css" />
    <script src="./../../controller/index.js"></script>
</head>

<body>
    <div class="container">
        <h1>Atividades de Programação</h1>
        <p>Selecione uma das atividades abaixo para começar:</p>
        <ul>
            <li><a href="gerenciamento_alunos.html">Gerenciamento de Alunos</a></li>
            <li>
                <a href="loja_produtos.html">Loja de Produtos - Carrinho de Compras</a>
            </li>
            <li><a href="biblioteca_livros.html">Biblioteca de Livros</a></li>
            <li><a href="gerenciador_tarefas.html">Gerenciador de Tarefas</a></li>
        </ul>
    </div>
</body>

</html>